[Unit]
Description=The API for appman
[Service]
ExecStart=/home/minihl/.local/appman/api/appman_api.sh
WorkingDirectory=/home/minihl/.local/appman/api
Restart=always
[Install]
WantedBy=default.target
